.body {
    color: white;
    font-family: Times New Roman;
    background-color: black;
}   

.container{
    
}

.copyright {
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-shadow: 0px 0px 0px black;
}

.footerlinks{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1em;
}

.footerlinks a {
    color: white;
    text-decoration: none;
    margin: 0 5px;

}



/*
Static
Relative
absolute
fixed
sticky
*/